<p>Prezado(a) <%= nome %>,</p>

<p>Espero que este e-mail o encontre bem.</p>

<p>Gostaríamos de convidá-lo(a) para uma entrevista para o cargo de <%= cargo %>. A entrevista será realizada em  <%= local %>, no dia <%= data %> às <%= hora %>.</p>

<p>Caso precise de mais informações sobre a entrevista, por favor não hesite em entrar em contato conosco.</p>

<p>Agradecemos a sua atenção e esperamos vê-lo(a) em breve.</p>

<p>Atenciosamente,<br>
<%= manager %><br>
RH</p>